body {
	background: #9c835F;
	font-family: roboto;
	color: rgb(0, 0, 0);
	padding: 3rem 5rem;
	text-align: center;
}

.column{
	column-count: 3;
	column-width: 100%;
	column-gap: 10%;
	column-span: all;
	align-items: center;
}

.selection{
	border: none;
	outline: none;
	cursor: pointer;
	transition: 100ms;
}

.selection:hover{
	background-color: red;
	transform: scale(1.2);
}

.hide{
	display: none;

}

.myDiv:hover + .hide{
	display: block;
	color: grey;
}

.score-container{
	background-color: green;
	font-size: 3rem;
	margin: 0;
	text-transform: uppercase;
	font-family: inherit;
	position: fixed;
}

.btn-circle{
	border: 1em;
	border-color: orange;
	border-radius: 50%;
	height: 90px;
	width: 90px;
}

.btn-circle:focus{
	outline: none;
}

.btn-circle:active{
	transform: scale(0.9);
}

.btn-paper{
	background: linear-gradient(
		to bottom, 
		grey
	);
}

.btn-scissors{
	background: linear-gradient(
		to bottom, 
		grey
	);
}

.btn-rock{
	background: linear-gradient(
		to bottom, 
		grey
	);
}

.btn{
	border: 2px limegreen;
	border-radius: 10px;
	color: bisque;
	font-size: 25px;
	font-family: inherit;
	padding: 10px 25px;
	word-spacing: 2px;
	text-transform:uppercase
}

.selection{
	display: none;
	justify-content: space-between;
	align-items: center;
	text-align: center;

	width: 800px;
	max-width: 100%;
	margin: 0 auto;
}

.selection .btn-circle{
	margin: 50px;
	transform: scale(1.4);
}

.computer-choose{
	background: #c4c4c4;
	width: 70px;
	height: 70px;
	border-radius: 25%;
	transform: scale(1.1,1.1);
}